*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-blue: #0074cc;
    --color-azure: #66ace0;
}

html{
    font-family: 'Kanit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container{
    max-width: 992px;
    margin: auto;
}

.digits{
    text-align: center;
}

.digits ul{
    list-style: none;

}

.digits ul li.digits-item{
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 2rem;
    width: 90px;
    margin: 20px;
}

.digits-item.wrong{
    color: red;
}

.digits-item.right{
    color: green;
}

#digits-list{
    transition: all .2s ease;
}

#digits-list.hidden{
    opacity: 0;
}

.msgbox{
    text-align: center;
    font-size: 1.5rem;
}

.btn{
    background-color: var(--color-blue) ;
    border: 1px solid var(--color-azure);
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    transition: all .2s ease;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.75);
    background-color: var(--color-azure);
}

.btn:disabled{
    background-color: gray;
    border: gray;
    color: rgb(211, 211, 211);
}

header{
    padding: 30px 0px;
    text-align: center;
    background-color: #e2e2e2;
}

#counter{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#counter.animate{
    animation-name: counterAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes counterAnim {
    0%{
        transform: scale(1);
    }

    30%{
        transform: scale(1.2);
        color: gray;
    }

    100%{
        transform: scale(1);
    }
}

